/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    font-family: ;
}

.link-no-underline {
    text-decoration: none;
    color: lightblue;
}

.link-no-underline:hover {
  color: rgb(62, 188, 231);
  text-decoration: none;
}